/* Variables */

:root { --principal: rgb(163, 163, 163);}

/* Estilos Generales */

*{
    box-sizing: border-box;
    color:white;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: white;
}

a{
    text-decoration: none;
}

/* ----- Estilos por Bloques ----- */

/* Header */

header{
    background-color: #000;
}

header .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.logo{
    margin-bottom: 7px;
}

.logo img{
    display: flex;
    align-items: center;
    height: 40px;
}

.pagina-actual{
    text-decoration: underline;
}

header nav a{
    font-weight: bold;
    margin: 0 5px;
}

header nav a:hover{
    color: var(--principal)
}

@media (min-width: 750px){

    .container{
        max-width: 1300px;
        margin: 0 auto;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        margin: 0;
    }
}