/* Variables */

:root { --principal: rgb(163, 163, 163);}
:root { --colorApoyo: rgb(0, 35, 85);}

/* Estilos Generales */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: white;
}

h1{
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}

h2{
    text-align: center;
    margin: 0;
    font-size: 2.2rem;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    padding: 15px 30px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    color: white;
    background-color: var(--colorApoyo);
    font-weight: bold;
    font-size: 1.3rem;
}

button:hover{
    cursor: pointer;
    background-color: color-mix(in srgb,var(--colorApoyo) 80%, black);
}

p{
    font-size: 1.5rem;
    color:#555;
    line-height: 1.5;
}

em{
    font-style: normal;
    font-weight: bold;
    color: #000;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    margin-bottom: 15px;
}

/* ----- Estilos por Bloques ----- */

/* Header */

header{
    background-color: #000;
    color: white;
}

header .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.logo{
    margin-bottom: 7px;
}

.logo img{
    display: flex;
    align-items: center;
    height: 40px;
}

.pagina-actual{
    text-decoration: underline;
}

header nav a{
    font-weight: bold;
    margin: 0 10px;
}

header nav a:hover{
    color: var(--principal)
}

/* Título */

#titulo{
    border-bottom: solid 2px #ccc;
    background-color: #eee;
    padding: 35px;
}

/* Gancho */

#gancho{
padding-bottom: 35px;
border-bottom: solid 2px #ccc;
}

#gancho .container{
    padding: 5px;
    text-align: center;
}

#gancho img{
    border-radius: 10px;
    max-width: 80%;
}

#gancho p{
    color: #444;
}

#gancho em{
    color: #000;
}

/* Personaliza */

#personaliza{
    text-align: center;
    padding: 35px;
    background-color: #eee;
}

#personaliza p{
    margin-bottom: 40px;
}

#personaliza li{
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

/* Footer */

footer{
    background-color: #333;
    text-align: center;
}

footer p{
    padding: 30px;
    margin: 0;
    color: #ddd;
    font-size: 1rem;
    font-weight: bold;
}


/* ----- Responsive ----- */

@media (min-width: 750px){

    .container{
        max-width: 1300px;
        margin: 0 auto;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        margin: 0;
    }

    /* Seccion */

    #gancho .container{
        max-width: 1000px;
    }
    
}